/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul,
  ol {
    list-style-type: disc;
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--black);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre {
    background: var(--black);
    border-radius: 0.5rem;
    color: var(--white);
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0;
    padding: 0.75rem 1rem;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    border-left: 3px solid var(--gray-3);
    margin: 1.5rem 0;
    padding-left: 1rem;
  }

  hr {
    border: none;
    border-top: 1px solid var(--gray-2);
    margin: 2rem 0;
  }

}

.control-group {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  padding: 8px;
  border-bottom: 1px solid #e0e0e0;
}

/* Remove the outline*/
.ProseMirror {
  outline: none !important;
  border: none !important;
  /* Remove any border */
  caret-color: black;
  /* Ensure the caret is visible */
  min-height: 3em;
}

.ProseMirror:focus {
  outline: 2px solid #2563eb !important;
  /* outline: 2px solid blue !important; Set a blue outline */
  /* border: none !important; */
  border-radius: 0.5rem;
  /* Remove any border */
  caret-color: black;
  /* Ensure the caret is visible */
}

.ProseMirror[dir="auto"],
[dir="auto"] {
  unicode-bidi: plaintext;
}

/* .editor:focus { */
  /* outline: 2px solid blue !important; */
  /* Set a blue outline */
  /* border: none !important; */
  /* Ensure no border */
/* } */